:root {
    --black: #11151f;
    --dark-grey: #d4d4d4;
    --grey-blue-hover: #283040;
    --grey-blue: #374456;
    --mid-grey: #f1f1f1;
    --white: #fcfcfc;
    --yellow: #e5b261;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
}



/* ON YOUR OWN

    Write a special media query that only applies to the two smallest screen sizes. In these layouts, the brand (the logo and name of the company should):

    1. be positioned at the top of the page
    2. have white text
    3. have a drop-shadow on the text
*/

/* Global */

a {
    color: var(--black);
}

a:hover {
    color:var(--grey-blue-hover); /* Can't notice, but it's there */
}

h1 {
    color: var(--white);
    text-shadow: 0 2px 1px var(--grey-blue);
}

h2 {
    color: var(--black);
}

header {
    display: flex;
    gap: 1rem;
    background: url(../img/work-at-home-with-pets.webp);
    background-repeat: no-repeat;
    height: 750px; /* random, image needs height */
}

img {
    max-width: 20px;
}

p,
label {
    color: var(--grey-blue)
}

.claim-disclaimer {
    margin: 1rem 0;
    text-align: center;
}

.claim-disclaimer button {
    background-color: var(--grey-blue);
    color: var(--white);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.form-content {
    background-color: var(--mid-grey);
}

.form-content > p {
    background-color: var(--yellow);
    color: var(--white);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    text-align: center;
}

.form-header p {
    color: var(--white)
}

.main-content > div {
    margin: 0 1rem;
}

/* Mobile view */

.your-account div,
.about-you div {
    padding-top: 1rem;
}

.your-account div > *,
.about-you div > * {
    padding-top: unset;
}

.form-content form {
    padding-left: 1rem;
}

.form-text > h2 {
    font-size: 3rem;
}

/* Medium width*/
@media screen and (min-width: 800px) {

    .form-content {
        max-width: 1600px;
    }

    .your-account,
    .about-you {
        display: flex;
        flex-wrap: wrap;
    }

    .about-you > div,
    .your-account > div {
        width: 50%;
    }

}

/* Max width */
@media screen and (min-width:1600px){
    body {
        background-color: green;
    }

    .main-content {
        max-width: 1600px;
    }
}