:root {
    --black: #11151f;
    --dark-grey: #d4d4d4;
    --grey-blue-hover: #283040;
    --grey-blue: #374456;
    --mid-grey: #f1f1f1;
    --white: #fcfcfc;
    --yellow: #e5b261;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
}



/* ON YOUR OWN

    Write a special media query that only applies to the two smallest screen sizes. In these layouts, the brand (the logo and name of the company should):

    1. be positioned at the top of the page
    2. have white text
    3. have a drop-shadow on the text
*/

/* Global */
body {
    padding: 0 1rem;
}

h1,
h2 {
    color: var(--black);
}


header {
    display: flex;
    gap: 1rem;
}

img {
    max-width: 20px;
}

p,
label {
    color: var(--grey-blue)
}

.form-content {
    background-color: var(--mid-grey);
    padding-left: 1rem;
}

.form-header {
    background-color: var(--yellow);
}

.form-header p {
    color: var(--white)
}

form {
    display: flex;
    flex-direction: column;
}

/* Mobile view */

body {
    background-color: yellow;
}

/* Medium width*/
@media screen and (min-width: 800px) {
    body {
        background-color: blue;
    }

    .form-content {
        max-width: 1600px;
    }

    .your-account,
    .about-you {
        display: flex;
        flex-wrap: wrap;
    }

    .about-you .first-name,
    .about-you .last-name,
    .about-you .date-of-birth,
    .about-you .business-type,
    .your-account,
    .your-account .username,
    .your-account .email-address,
    .your-account .password {
        flex: 1;
        width: 50%;
    }

}

/* Max width */
@media screen and (min-width:1600){
    
}